*DS_Store*
*.sbatch
scripts/temp_config_and_sbatch_files/
temp_outputtests/
*.pyc
Thumbs.db
dmstools_output/*.sbatch
sim_*_data/
calculate_RMSD_randomization_*infile*.txt
*randomization*RMSD*.txt
*_alignments.txt.gz
*_unaligned.fasta.gz
slurm-*
sbatch_*
FASTQ_files/
